{{ header }}
<div id="common-success" class="container">
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      {% if custom_order_id %}
      <h2>Номер заказа: {{ custom_order_id }}</h2>
      {% endif %}

      {{ text_message }}
      {#{{ dump(logged) }}#}
     {# {{ dump(custom_payment_method.code) }}#}
      {% if custom_payment_method.code == 'prodamus' %}
        {% if logged == 'logged' %}
          <p>Для просмотра заказа и оплаты перейдите по ссылке</p>
          <a href="https://tochka-elektriki.ru//index.php?route=account/order/info&order_id={{ custom_order_id }}" class="btn btn-primary btn-reskin">Просмотр заказа и оплата</a>
        {% else %}
          <p style="font-weight: 600">Подробная информация о заказе отправлена Вам на электронную почту.</p>
          <p style="font-weight: 600">При гостевом заказе платежная форма заполняется вручную. Автозаполнение платежной формы досупно только для зарегистрированных пользователей.</p>
          <a href="https://tochka-elektriki.payform.ru/" class="btn btn-primary btn-reskin">Перейти к оплате</a>
        {% endif %}
      {% else %}
        <p style="font-weight: 600">Подробная информация о заказе отправлена Вам на электронную почту.</p>
      {% endif %}
      <div class="buttons">
        <!--<div class="pull-right"><a href="{{ continue }}" class="btn btn-primary btn-reskin">{{ button_continue }}</a></div>-->
        <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary btn-reskin">Выход</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>

</div>
{{ footer }}