<div class="featured-wrap">
<h3>{{ heading_title }}</h3>
<div class="row">
 {% for product in products %}
  <div class="product-layout col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="product-thumb transition">
      <div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
      <div class="caption">
        <h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
        {#<p>{{ product.description }}</p>#}
          <div class="special-block">
              {% if product.manufacturer %}
                  <div class="upc-wrap">
                      <span class="upc-name">Производитель:</span>
                      <span class="upc-sep"></span>
                      <span class="upc-value">{{ product.manufacturer }}</span>
                  </div>
              {% endif %}
              {% if product.upc %}
                  <div class="upc-wrap">
                      <span class="upc-name">Артикул:</span>
                      <span class="upc-sep"></span>
                      <span class="upc-value">{{ product.upc }}</span>
                  </div>
              {% endif %}
              {% if product.quantity > 0 and product.quantity != NULL %}
                  <span style="color: #28a745" class="stock">В наличии&nbsp;</span><span style="color: #28a745">{{ product.quantity }} ед.</span>
              {% else %}
                  <span style="color:#ff8940;" class="stock">Временно нет на складе</span>
              {% endif %}
          </div>
        {% if product.rating %}
        <div class="rating">
          {% for i in 5 %}
          {% if product.rating < i %}
          <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% else %}
          <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
          {% endif %}
          {% endfor %}
        </div>
        {% endif %}
        <div class="price-block-wrap">
            {% if product.price %}

                <p class="price">
                  {% if not product.special %}
                  {{ product.price }}
                  {% else %}
                  <span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
                  {% endif %}
                  {% if product.tax %}
                  <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                  {% endif %}
                </p>

            {% endif %}
            <div class="cart-quantity">
                <i onclick="$(this).next().val($(this).next().val()-1);$(this).parents('form').submit();" class="fa fa-minus"></i>
                <input type="text" name="quantity" size="2" value="{{ product.minimum }}" id="quantity_{{ product.product_id }}"/>
                <i onclick="$(this).prev().val(~~$(this).prev().val()+1);$(this).parents('form').submit();" class="fa fa-plus"></i>
                <input type="hidden" name="product_id" size="2" value="{{ product.product_id }}" />
            </div>
        </div>
      </div>
      <div class="button-group">
        <button type="button" onclick="cart.add('{{ product.product_id }}', $('#quantity_{{ product.product_id }}').val());"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
        <button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
        <button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>